/* Common styles shared across pages */

/* Footer (based on evenements page) */
.footer {
  border-top: 1px solid rgba(0, 0, 0, .08);
  background: #0b0f19;
}

.footer-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 0;
}

.footer-inner p {
  color: #e5e7eb;
  margin: 0;
}

.footer-socials {
  display: flex;
  gap: 10px;
  justify-content: right;
  align-items: center;
}

.footer-socials img.icon {
  height: 24px;
  width: 24px;
}

.footer-socials img.icon-youtube {
  height: 24px;
  width: 43px;
}
