/* Reset et styles de base */

nav {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  width: 100%;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
}

body, html {
  font-family: 'Helvetica Neue', sans-serif;
}

/* Styles des images */
.content-image {
    width: 100%;
    height: auto;
    margin: 20px 0;
    border: 1px dashed #ccc; /* Style temporaire pour les placeholders */
    display: block;
}


/* Ligne incomplète */
.incomplete-line {
    display: inline-block;
    width: 60%;
    border-bottom: 1px solid #333;
}
